<footer class="site-footer">
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">

                      <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Clare E. West</li></ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/clarewest">
                                  <i class="fa fa-github social-icon"></i>

                <span class="username">clarewest</span>
                </a>
                </li>
                <li>
                  <a href="http://twitter.com/claree_west">
                    <i class="fa fa-twitter social-icon"></i>
                    <span class="username">claree_west</span></a>
                    </li>
                    </ul>
      
</div>

      <div class="footer-col footer-col-3">
        <p>Data adventures of a former biochemist.</p>
      </div>
      </div>
                       
                        
                  </div>
        </div>
    </div>
</div>
</footer>